@model SampleMvcApp.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";

    int rowNo = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>

            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <h3>@Model.Name</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.EmailAddress
                </p>
                <p>
                    <i class="glyphicon glyphicon-map-marker"></i> @Model.Country
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <h3>Claims</h3>

        <table class="table">
            <thead>
            <tr>
                <th colspan="2">
                    Claim
                </th>
                <th>
                    Value
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var claim in User.Claims)
            {
                <tr>
                    <th>@rowNo</th>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>

                rowNo++;
            }
            </tbody>
        </table>
    </div>
</div>