@model LockContext

<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
	embeded area
</div>
<script src="https://cdn.auth0.com/js/lock/10.11/lock.min.js"></script>
<script>

  var lock = new Auth0Lock('@Model.ClientId', '@Model.Domain', {
    container: 'root',
    auth: {
      redirectUrl: '@Model.CallbackUrl',
      responseType: 'code',
      params: {
        scope: 'openid',
        state: '@Model.State' ,
        nonce: '@Model.Nonce'
      }
    }
  });

  lock.show();
</script>